<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Viewer Component </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Viewer Component</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let img of [1, 2, 3, 4]">
      <img src="assets/{{img}}.jpeg" tappable (click)="openPreview(img)" />
    </ng-template>
  </swiper>
</ion-content>
